# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Poetry
poetry.lock

# Logs and databases
*.log
*.sqlite3
instance/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Docker
*.dockerignore

# macOS and Windows system files
.DS_Store
Thumbs.db
